// global
body {
	width: 100%;
	user-select: none;
	background-color: var(--white-color);
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100svh;
	@include layout-width;
}

.inner {
	padding-right: var(--inner);
	padding-left: var(--inner);
}

.layout-width {
	@include layout-width;
}

.ios-safe {
	&-pb {
		padding-bottom: ios-safe-area(bottom);
	}
	&-pt {
		padding-top: ios-safe-area(top);
	}
	&-pr {
		padding-right: ios-safe-area(right);
	}
	&-pl {
		padding-left: ios-safe-area(left);
	}
}
