/* ======

  typography

====== */

/* ------

  font-face

------ */

/* 한글, 숫자, 특수문자 */
@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'),
		url('./../../fonts/PretendardVariable.woff2') format('woff2-variations');
	/* unicode-range: U+AC00-D7A3; */
}

/* 영문 대, 소문자 */
/* Roboto-thin */
@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	font-style: normal;
	font-display: swap;
	src: url('./../../fonts/Roboto-Thin.ttf') format('truetype');
	unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	font-style: italic;
	font-display: swap;
	src: url('./../../fonts/Roboto-ThinItalic.ttf') format('truetype');
	unicode-range: U+0041-005A, U+0061-007A;
}

/* Roboto-light */
@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url('./../../fonts/Roboto-Light.ttf') format('truetype');
	unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: italic;
	font-display: swap;
	src: url('./../../fonts/Roboto-LightItalic.ttf') format('truetype');
	unicode-range: U+0041-005A, U+0061-007A;
}

/* Roboto-Regular */
@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('./../../fonts/Roboto-Regular.ttf') format('truetype');
	unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url('./../../fonts/Roboto-RegularItalic.ttf') format('truetype');
	unicode-range: U+0041-005A, U+0061-007A;
}

/* Roboto-Medium */
@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('./../../fonts/Roboto-Medium.ttf') format('truetype');
	unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	src: url('./../../fonts/Roboto-MediumItalic.ttf') format('truetype');
	unicode-range: U+0041-005A, U+0061-007A;
}

/* Roboto-bold */
@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url('./../../fonts/Roboto-Bold.ttf') format('truetype');
	unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	src: url('./../../fonts/Roboto-BoldItalic.ttf') format('truetype');
	unicode-range: U+0041-005A, U+0061-007A;
}

/* Roboto-Black */
@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	src: url('./../../fonts/Roboto-Black.ttf') format('truetype');
	unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	font-style: italic;
	font-display: swap;
	src: url('./../../fonts/Roboto-BlackItalic.ttf') format('truetype');
	unicode-range: U+0041-005A, U+0061-007A;
}
/* 필기체 */
@font-face {
	font-family: 'Jalnan2';
	src: url('./../../fonts/JalnanOTF.otf');
}

/* English */
/* 살짝 두꺼운 제목 */
@font-face {
	font-family: 'Heebo';
	src: url('./../../fonts/Heebo-VariableFont_wght.ttf');
}
/* 가늘고 두꺼운 제목 */
@font-face {
	font-family: 'BebasNeue';
	src: url('./../../fonts/BebasNeue-Regular.otf');
}

/* 필기체 */
@font-face {
	font-family: 'MarkMyWords';
	src: url('./../../fonts/mark_my_words.ttf');
}

/* ------

  basic typography

------ */

@layer base {
	html {
		font-family: 'Pretendard Variable', 'Roboto', sans-serif;
		font-weight: 400;
		line-height: 1.45;
		letter-spacing: -0.025em;
		word-spacing: -0.025em;
		overflow-wrap: break-word;
		color: var(--color-gray-950);

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%; /* chrome, safari, opera */
		-ms-text-size-adjust: 100%; // IE
		-moz-text-size-adjust: 100%; // firefox
		-o-text-size-adjust: 100%; // opera 구버전
	}

	a {
		color: inherit;
		// color: var(--black-color-normal);
	}
}

/* 

	웹접근성 - IR

*/
.hidden {
	@include hidden;
}
