.modal {
	position: fixed;
	inset: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	gap: 20px 14px;
	width: 100%;
	height: fit-content;
	color: var(--color-surface-01);
	z-index: 90;

	&.horizontal {
		flex-direction: row;
	}

	&.vertical {
		flex-direction: column;
	}
}

.visual {
	flex: none;
	border-radius: 12px;
	overflow: hidden;

	.image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;

	.title {
		font-size: 22px;
		font-weight: 500;
	}

	.desc {
		margin-top: 4px;
		font-size: 14px;
		font-weight: 300;
	}

	.languages {
		display: flex;
		flex-wrap: wrap;
		gap: 0 8px;
		margin-top: 4px;
		font-size: 12px;
		font-weight: 300;
		color: var(--color-gray-200);
	}

	.features {
		display: flex;
		flex-direction: column;
		gap: 2px;
		margin-top: 16px;
		font-size: 13px;
		font-weight: 300;
		color: var(--color-gray-50);
	}

	.link {
		display: block;
		margin-top: 17px;
		font-size: 13px;
		font-weight: 600;
		color: var(--color-gray-300);
	}
}
