.blog {
	container-name: blog-page;
	&-header {
		padding: 12vw var(--inner) 0 var(--inner);

		&-title {
			font-size: clamp(36px, 11cqw, 82px);
			letter-spacing: -0.025em;
			font-weight: 700;
		}
	}

	&-contents {
		border-top: 1px solid var(--color-gray-300);
		margin-top: 24px;
	}
}

@include lg {
	.blog {
		&-contents {
			border-bottom: 1px solid var(--color-gray-300);
		}
	}
}
