.detail-page {
	@mixin title-sm {
		@include title-1;
		font-weight: 300;
		color: var(--color-gray-500);
	}

	.visual-wrap {
		width: 100%;
		height: 75svh;
		display: flex;
		justify-content: center;
		align-items: center;

		@include md {
			padding-top: 50svh;
			height: 100%;
		}

		.visual {
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;
			background-repeat: no-repeat;
			background-position: center top;
			background-attachment: fixed;
			background-size: cover;

			@include md {
				height: 100svh;
			}

			.project-slogan {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				font-family: 'BebasNeue', sans-serif;
				font-size: 16vw;
				color: white;
				white-space: nowrap;
				mix-blend-mode: difference;
				transition: transform linear 2400ms;
			}
		}
	}

	.project-header {
		margin-top: 1.125rem;
		padding-right: var(--inner);
		padding-left: var(--inner);
	}

	.project-name {
		font-size: 28px;
		font-weight: 700;
	}

	.basic-info-section {
		margin-top: 12px;
		.section-body {
			@include md {
				display: flex;
			}
		}

		.box {
			display: grid;
			grid-template-columns: 1fr 2.5fr;
			row-gap: 8px;

			~ .box {
				margin-top: 12px;
			}

			.sub-title {
				@include title-sm;

				+ p {
					display: flex;
					gap: 8px;
					@include body-1;
					color: var(--color-gray-900);
				}
			}

			&.link-box {
				.link-wrap {
					li {
						display: flex;
						gap: 8px;

						~ li {
							margin-top: 6px;
						}
					}
				}
			}

			&.desc-box {
				display: block;
				margin-top: 24px;
				color: var(--color-gray-900);

				.row {
					~ .row {
						margin-top: 24px;
					}
					.sub-title {
						color: var(--color-gray-400);
						font-weight: 300;
					}

					.text {
						@include body-2;
					}

					.divider {
						margin: 5px 0 12px;
						background-color: var(--color-gray-300);
					}
				}
			}
		}
	}

	.spec-section {
		margin-top: 32px;

		.box {
			~ .box {
				margin-top: 18px;
			}

			.sub-title {
				@include title-sm;
			}

			.text-wrap {
				display: flex;
				flex-wrap: wrap;
				margin-top: 6px;
				@include body-3;

				li {
					&:not(:last-child) {
						margin-right: 3px;
						&::after {
							content: ',';
						}
					}
				}
			}
		}
	}

	.feature-section {
		margin-top: 52px;
		.section-title {
			font-size: 22px;
			font-weight: 600;
		}

		.section-body {
			margin-top: 17px;
		}

		article {
			~ article {
				margin-top: 32px;
			}

			.feature-img {
				border: 1px solid var(--color-gray-300);
				border-radius: 18px;
				overflow: hidden;
			}
			> .title {
				margin-top: 16px;
				@include title-3;
				color: var(--color-gray-400);
			}

			> .desc {
				margin-top: 8px;
				@include body-2;
				white-space: pre-wrap;
			}
		}
	}

	.detail-not-found {
		padding-bottom: 12vh;
	}
}
