@layer components {
	.dialog {
		position: fixed;
		inset: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: var(--z-alert);
		&.overlay {
			@include overlay;
		}

		.container {
			width: fit-content;
			min-width: 19.375rem;
			max-width: 43.75rem;
			border-radius: 0.375rem;
			overflow: hidden;
			background: var(--color-surface-01);
			filter: $drop-shadow-sm-bottom;
		}

		&:global(.enter) {
			.container {
				opacity: 0;
				transform: translateY(-25%);
			}
		}
		&:global(.enter-active),
		&:global(.enter-done) {
			.container {
				opacity: 1;
				transform: translateY(0%);
				transition: transform 0.25s, opacity 0.25s;
			}
		}
		&:global(.exit) {
			.container {
				opacity: 1;
				transform: translateY(0%);
			}
		}
		&:global(.exit-active),
		&:global(.exit-done) {
			.container {
				opacity: 0;
				transform: translateY(-25%);
				transition: transform 0.25s, opacity 0.25s;
			}
		}
	}
}
