@layer components {
	.stack-field {
		h5 {
			display: flex;
			align-items: center;
			margin-bottom: 0.375rem;
			font-size: 0.9375rem;
			font-weight: 500;
		}

		.item-wrap {
			display: flex;
			flex-wrap: wrap;
			gap: 0.375rem;

			.item {
				display: flex;
				align-items: center;
				gap: 0.25rem;
				padding: 0.375rem 0.4375rem;
				border-radius: 0.5rem;
				border: 1px solid var(--color-gray-300);
				background-color: var(--color-neutrl-100);

				span {
					font-size: 0.9375rem;
					line-height: 1.125rem;
					font-weight: 500;
					user-select: text;
				}

				:global(.icon) {
					width: 0.875rem;
					height: 0.875rem;
					cursor: pointer;
					color: var(--color-gray-400);
				}

				&.item-to-add {
					:global(.icon) {
						color: var(--color-gray-800);
					}
					&:global(.add-mode) {
						border: 1px solid var(--color-gray-900);
					}
				}
			}
		}

		.input-field {
			background-color: transparent;
			border: none;
			width: 5rem;
			height: 1.125rem;
			font-size: 0.9375rem;
			line-height: 1.125rem;
			outline: none;
		}
	}
}
