#tab-bar {
	height: 3.75rem;

	:global(.app-bar-container) {
		@include white-glass-normal;
	}

	nav {
		width: 100%;
		height: 100%;
		padding: 0.625rem calc(ios-safe-area(right) + 0.75rem) 0.625rem
			calc(ios-safe-area(left) + 0.75rem);

		.container {
			display: flex;
			justify-content: space-between;
			width: 100%;
			max-width: 500px;
			margin: 0 auto;
		}

		li {
			width: 53px;
		}
	}

	.link {
		display: flex;
		flex-direction: column;
		align-items: center;

		.icon-wrap {
			width: 21px;
			height: 21px;
			margin: 3px 0 5px;
		}

		:global(.icon) {
			color: var(--color-gray-800);
		}

		.label {
			display: block;
			text-align: center;
			color: var(--color-gray-800);
			font-size: 11px;
			font-weight: 500;
			line-height: 1;
		}
	}
}

:global(.dark-mode) {
	#tab-bar :global(.app-bar-container) {
		@include black-glass-normal;
	}
}
