.nav {
	position: fixed;
	inset: 0;
	z-index: 99;
	user-select: none;
	pointer-events: none;
}

.background {
	position: absolute;
	inset-block: 0;
	left: 0;
	width: 100%;
	background-color: var(--color-gray-950);
	z-index: -1;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	pointer-events: auto;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
	padding-right: 10vw;
	padding-left: 10vw;
	gap: clamp(12px, 0.8vw, 24px);
}

.link {
	display: block;
	font-size: clamp(32px, 10vw, 72px);
	font-weight: 700;
	line-height: 1;
	color: white;
	transition: color 0.15s;

	&:hover {
		color: black;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: white;
	}

	&:global(.active) {
		color: black !important;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: white;
	}
}

.toggle-button {
	cursor: pointer;
	position: fixed;
	top: 9px;
	right: 9px;
	width: 52px;
	height: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: auto;
	mix-blend-mode: difference;
	z-index: 99;
}
