@layer components {
	.badge-wrap {
		position: relative;
		width: fit-content;
		height: fit-content;

		.badge {
			display: flex;
			justify-content: center;
			align-items: baseline;
			position: absolute;
			top: 0;
			right: 0;
			border-radius: 3rem;
			transform: translate(30%, -30%);
			z-index: 1;
			pointer-events: none;
		}
	}

	// size
	.sm {
		width: 1.125rem;
		height: 1.125rem;
		font-size: 0.625rem;
		line-height: 1.125rem;
	}

	.md {
		width: 1.25rem;
		height: 1.25rem;
		font-size: 0.6875rem;
		line-height: 1.25rem;
	}
}
