@layer components {
	.select {
		position: relative;
		width: fit-content;
		white-space: nowrap;

		label {
			top: -7px !important;
		}

		:global(.icon) {
			flex: none;
			transform: rotate(90deg);
			transition: 0.15s ease;
			color: var(--color-gray-400);
			cursor: pointer;

			&.is-focused {
				transform: rotate(-90deg);
			}
		}

		input {
			flex: 1;
			border: none;
			outline: none;
			font-size: 14px;
			line-height: 1;
			color: var(--color-gray-900);
			background: transparent;

			&::placeholder {
				color: var(--color-gray-300);
			}

			&[readonly] {
				cursor: pointer;
			}
		}

		.value {
			display: block;
			font-size: 14px;
			line-height: 1;
			color: var(--color-gray-900);
			&.visible {
				visibility: visible;
			}
		}

		.container {
			position: absolute;
			left: 0;
			width: fit-content;
			min-width: 100%;
			height: auto;
			border: 1px solid var(--color-gray-300);
			border-radius: 6px;
			font-size: 14px;
			font-weight: 400;
			color: var(--color-black);
			background: var(--color-surface-01);
			z-index: 10;

			li {
				min-width: fit-content;
				width: 100%;
				position: relative;
				cursor: pointer;

				&:hover,
				&:focus {
					background: var(--color-primary-100);
				}
			}
		}
	}

	// state
	.select {
		&:global(.entered),
		&:global(.focused) {
			:global(.icon) {
				color: var(--color-gray-800);
			}
		}
	}

	// direction
	.bottom .container {
		top: calc(100% + 4px);
	}
	.top .container {
		bottom: calc(100% + 4px);
	}

	// size
	.select {
		&.sm {
			:global(.icon) {
				width: 14px;
				height: 14px;
			}
			.input {
				gap: 4px;
			}

			.container {
				padding: 8px 6px;
				li {
					padding: 10px 12px;
				}
			}
		}

		&.md {
			:global(.icon) {
				width: 15px;
				height: 15px;
			}
			.input {
				gap: 4px;
			}

			.container {
				padding: 8px 6px;
				li {
					padding: 10px 12px;
				}
			}
		}

		&.lg {
			:global(.icon) {
				width: 15px;
				height: 15px;
			}
			.input {
				gap: 4px;
			}

			.container {
				padding: 8px 6px;
				li {
					padding: 10px 12px;
				}
			}
		}
	}

	// optional
	.fill {
		width: 100%;
		.input {
			width: 100%;
		}
	}
}
