@layer components {
	.button {
		display: block;
		justify-content: center;
		align-items: center;
		width: fit-content;
		white-space: nowrap;
		color: var(--color-button-03);
		background: var(--color-surface-01);
		border: 1px solid color-mix(in srgb, var(--color-button-02) 30%, transparent);
		overflow: hidden;

		.children {
			width: calc(100% + 2px);
			height: calc(100% + 2px);
			border-radius: inherit;
			transform: translateY(0%);
			transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

			&:last-child {
				color: var(--color-button-01);
				background: var(--color-button-03);
				// transform: scaleY(0);
			}
		}

		&:hover,
		&.active {
			border: 1px solid var(--color-button-03);

			.children {
				transform: translateY(calc(-100% - 1px));
			}
		}
	}

	// size
	.xxs {
		height: 1.875rem;
		font-size: 0.6875rem;
		font-weight: 500;
		line-height: 1.875rem;

		.children {
			padding: 0 0.5rem;
			gap: 0.125rem;
		}

		:global(.icon) {
			width: 0.125rem;
			height: 0.125rem;
		}
	}
	.xs {
		height: 2rem;
		font-size: 0.75rem;
		font-weight: 600;
		line-height: 2rem;

		.children {
			padding: 0 0.625rem;
			gap: 2px;
		}

		:global(.icon) {
			width: 0.125rem;
			height: 0.125rem;
		}
	}
	.sm {
		height: 2.375rem;
		font-size: 0.8125rem;
		font-weight: 600;
		line-height: 2.375rem;

		.children {
			padding: 0 0.8125rem;
			gap: 0.125rem;
		}

		:global(.icon) {
			width: 0.125rem;
			height: 0.125rem;
		}
	}
	.md {
		height: 2.625rem;
		font-size: 0.875rem;
		font-weight: 600;
		line-height: 2.625rem;
		.children {
			padding: 0 1rem;
			gap: 0.25rem;
		}
		:global(.icon) {
			width: 1.375rem;
			height: 1.375rem;
		}
	}
	.lg {
		height: 2.875rem;
		font-size: 0.875rem;
		font-weight: 600;
		line-height: 2.875rem;

		.children {
			padding: 0 1.125rem;
			gap: 0.375rem;
		}

		:global(.icon) {
			width: 1.5rem;
			height: 1.5rem;
		}
	}

	// color
	.normal {
		--color-button-01: var(--color-gray-50);
		--color-button-02: var(--color-gray-900);
		--color-button-03: var(--color-gray-900);

		&.disabled {
			--color-button-01: var(--color-gray-100);
			--color-button-02: var(--color-gray-300);
			--color-button-03: var(--color-gray-300);
		}
	}
	.primary {
		--color-button-01: var(--color-primary-50);
		--color-button-02: var(--color-primary-500);
		--color-button-03: var(--color-primary-800);

		&.disabled {
			--color-button-01: var(--color-primary-200);
			--color-button-02: var(--color-primary-200);
			--color-button-03: var(--color-primary-400);
		}
	}

	// shape
	.rect {
		border-radius: 0;
	}
	.rounded {
		border-radius: 0.1875rem;
	}
	.round {
		border-radius: 31.25rem;
	}

	// optional
	.fill {
		width: 100%;
	}
	.disabled {
		&.filled {
			color: var(--color-gray-400);
			background-color: var(--color-gray-200);
			border-color: var(--color-gray-200);
		}
		&.outlined {
			color: var(--color-gray-400);
			background-color: var(--color-gray-50);
			border-color: var(--color-gray-200);
		}
	}
}
