@layer components {
	.menu {
		position: relative;
		appearance: none;
		width: fit-content;
	}

	.header {
		cursor: pointer;
	}

	.container {
		position: absolute;
		left: calc(var(--offset-left) + 50%);
		transform: translateX(-50%);
		transform-origin: center top;
		padding: 0.3125rem;
		white-space: nowrap;
		background-color: var(--color-surface-01);
		filter: $drop-shadow-sm;
		z-index: 30;
		@include label-2;

		.item {
			display: block;
			width: 100%;
			padding: 0.625rem 1.875rem 0.625rem 0.625rem;
			font-size: 0.8125rem;
			font-weight: 500;
			text-align: left;
			cursor: pointer;

			&:hover,
			&:focus {
				background: var(--color-primary-100);
			}
		}

		&.top {
			bottom: calc(100% + 6px);

			&::before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 100%;
				height: 6px;
			}
		}

		&.bottom {
			top: calc(100% + 6px);

			&::before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 100%;
				height: 6px;
			}
		}
	}
}
