@layer components {
	.stepper {
		display: flex;
		margin-bottom: 1.25rem;
	}

	.step {
		position: relative;
		flex: 1;
		display: flex;
		align-items: center;

		&:first-of-type {
			flex: none;
		}
		&:not(:first-of-type)::before {
			content: '';
			flex: 1;
			height: 1px;
			background: gray;
		}

		.container {
			padding: 0 0.5rem;
			font-size: 0.875rem;
		}

		.label {
			flex: none;
			width: 20px;
			height: 20px;
			border-radius: 20px;
			font-size: 11px;
			font-weight: 500;
			line-height: 21px;
			text-align: center;
			color: var(--color-surface-01);
			background-color: var(--color-gray-400);
		}

		&:global(.completed) {
			.label {
				background: var(--color-primary-600);
			}
			&::before {
				background: var(--color-primary-600);
			}
		}
		&:global(.active) {
			.label {
				background: var(--color-primary-600);
			}
			&::before {
				background: var(--color-primary-600);
			}
		}
		&:global(.finished) {
			.label {
				background: var(--color-primary-600);
			}
			&::before {
				background: var(--color-primary-600);
			}
		}
	}

	.horizontal {
		.container {
			display: flex;
			align-items: center;
		}

		.body {
			margin-left: 8px;
		}
	}
	.vertical {
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.body {
			margin-left: 8px;
		}
	}
}
