@layer components {
	.counter {
		display: flex;
		width: fit-content;
		align-items: center;
		overflow: hidden;
		background: var(--color-surface-01);

		.count {
			@include label-1;
		}

		.button {
			cursor: pointer;
		}
	}

	.block {
		border: 0.05rem solid var(--color-gray-200);
		border-radius: 0.5rem;
		.count {
			padding: 0 0.6875rem;
			border-left: 1px solid var(--color-gray-200);
			border-right: 1px solid var(--color-gray-200);
			line-height: 1;
		}
		.button {
			padding: 0.375rem;
			svg {
				width: 1.125rem;
				height: 1.125rem;
				color: var(--color-gray-900);
			}
		}
	}
}
