@import 'swiper/swiper-bundle.css' layer(components);

@layer components {
	.upload-input {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1/1;
		border: 2px solid var(--color-gray-100);
		background-color: var(--color-gray-100);
		cursor: pointer !important;

		:global(.icon) {
			width: 20%;
			min-width: 1.375rem;
			height: auto;
			aspect-ratio: 1/1;
		}

		&:global(.drag-over) {
			border: 2px solid var(--color-black);
		}

		input {
			display: none;
		}
	}

	.image-picker {
		width: 100%;
		.image-wrap {
			container-name: image-container;
			container-type: inline-size;
		}
		.item {
			position: relative;
			aspect-ratio: 1/1;
			background-color: var(--color-surface-02);
			width: calc((100% - (0.25rem * (var(--columns) - 1))) / var(--columns));
			--columns: 3;
			@container image-container (min-width: 31.25rem) {
				--columns: 4;
			}
			@container image-container (min-width: 37.5rem) {
				--columns: 5;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}

			.deleteButton {
				position: absolute;
				top: 0.25rem;
				right: 0.25rem;
				width: 1.5rem;
				height: 1.5rem;
				color: #ffffff;
				z-index: 2;

				svg {
					filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
				}
			}
		}

		// swiper
		:global(.swiper-slide) {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			height: auto;
			aspect-ratio: 1 / 1;
			border: 1px solid var(--gray-color-normal);
			border-radius: 0.25rem;
			overflow: hidden;
		}

		// not swiper
		&:not(.swiper) {
			.image-wrap {
				display: flex;
				flex-wrap: wrap;
				gap: 0.25rem;

				.item {
					cursor: grab;
				}
			}
		}
	}
}
