@layer components {
	.overlay {
		position: fixed;
		inset: 0;
		&[class*='-enter'] {
			background: transparent;
			&[class*='-active'],
			&[class*='-done'] {
				background-color: rgba(16, 16, 16, 0.9);
				backdrop-filter: blur(10px) saturate(2);
				transition: background 0.4s ease, backdrop-filter 0.4s ease;
			}
		}
		&[class*='-exit'] {
			background-color: rgba(16, 16, 16, 0.9);
			backdrop-filter: blur(10px) saturate(2);
			&[class*='-active'],
			&[class*='-done'] {
				background: transparent;
				backdrop-filter: blur(0px) saturate(1);
				transition: background 0.4s ease, backdrop-filter 0.4s ease;
			}
		}
	}
}
