@layer components {
	.chip {
		display: inline-flex;
		overflow: hidden;
		line-height: 1.3;
		letter-spacing: 0;
		cursor: pointer;
		border-radius: 1.875rem;
		align-items: center;
		white-space: nowrap;
	}

	// size
	.sm {
		height: 1.75rem;
		padding: 0 0.75rem;
		@include label-4;
		line-height: 1.75rem;
	}
	.md {
		height: 2rem;
		padding: 0 1rem;
		gap: 0.1875rem;
		@include label-3;
		line-height: 2rem;

		:global(.icon) {
			width: 0.875rem;
			height: 0.875rem;
		}
	}
	.lg {
		height: 2.25rem;
		gap: 0.375rem;
		padding: 0 1.125rem;
		@include label-1;
		line-height: 2.25rem;
	}

	// color
	.normal {
		--color-chip-01: var(--color-gray-50);
		--color-chip-02: var(--color-gray-800);
		--color-chip-03: var(--color-gray-900);
	}
	.primary {
		--color-chip-01: var(--color-primary-50);
		--color-chip-02: var(--color-primary-500);
		--color-chip-03: var(--color-primary-800);
	}

	// variant
	.filled {
		color: var(--color-white);
		background: var(--color-chip-02);
		border: 1px solid var(--color-chip-02);
	}
	.outlined {
		color: var(--color-chip-03);
		background: var(--color-surface-01);
		border: 1px solid color-mix(in srgb, var(--color-chip-02) 20%, transparent);
	}
	.depth {
		color: var(--color-chip-03);
		background: var(--color-chip-01);
		border: 1px solid var(--color-chip-01);
		filter: $drop-shadow-xs;
	}
}
