.blog-card-list {
	:global(.swiper-wrapper) {
		display: block;
		@include lg {
			display: flex;
		}
	}
}

.card {
	height: auto;

	~ .card {
		border-top: 1px solid var(--color-gray-300);
		margin-top: 42px;
	}

	&-link {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&-thumbnail {
		flex: none;
		aspect-ratio: 1/1;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&-content {
		flex: 1;
		padding: 0 12px;
		margin-top: 26px;

		.title {
			font-size: 15px;
			@include text-wrap(2);
		}

		.description {
			margin-top: 12px;
			font-size: 11.5px;
			font-weight: 400;
			@include text-wrap(3);
			color: var(--color-gray-600);
		}

		.bottom {
			margin-top: 32px;
			.date {
				margin-top: 9px;
				display: block;
				font-size: 12px;
			}
		}
	}
}

@include lg {
	.card {
		width: 32%;
		border-left: 1px solid var(--color-gray-300);

		&:last-child {
			border-right: 1px solid var(--color-gray-300);
		}

		~ .card {
			margin-top: 0;
		}

		&-link {
			padding: 3.4%;
		}

		&-thumbnail {
			aspect-ratio: 3/3.5;
			max-height: 55vh;
		}

		&-content {
			padding: 0;
			.title {
				font-size: 17px;
				font-weight: 500;
			}
		}
	}
}
