.card {
	display: flex;
	flex-direction: column;
	height: 100%;

	&-thumbnail {
		flex: none;
		aspect-ratio: 1/1;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&-content {
		flex: 1;
		padding: 0 12px;
		margin-top: 26px;

		.title {
			font-size: 15px;
			@include text-wrap(1);
		}

		.description {
			margin-top: 12px;
			font-size: 11.5px;
			font-weight: 400;
			@include text-wrap(2);
			color: var(--color-gray-600);
		}

		.bottom {
			margin-top: 18px;
			.date {
				display: block;
				font-size: 12px;
			}
		}
	}
}

@include lg {
	.card {
		&-link {
			padding: 3.4%;
		}

		&-thumbnail {
			aspect-ratio: 3/3.5;
			max-height: 55vh;
		}

		&-content {
			padding-bottom: 32px;
			.title {
				font-size: 17px;
				font-weight: 500;
			}
		}
	}
}
