@layer components {
	.icon-button :global(.icon) {
		width: 100%;
		height: 100%;
	}

	// size
	.sm {
		width: 1.25rem;
		height: 1.25rem;
	}
	.md {
		width: 1.5rem;
		height: 1.5rem;
	}
	.lg {
		width: 1.625rem;
		height: 1.625rem;
	}

	// feedback {
	.feedback {
		transition: transform 0.2s ease;
		transform: scale(1);
		&.is-click {
			transform: scale(0.85);
		}
	}
}
