// layout
$layout-min-width: 350px;
$layout-max-width: 750px;
$inner: 1.125rem;

$section-layout-sm: 0.75rem;
$section-layout-md: 0.9375rem;
$section-layout-lg: 1.25rem;

$header-layout-sm: 0.75rem;
$header-layout-md: 0.875rem;
$header-layout-lg: 1.125rem;

// style
$drop-shadow-lg: drop-shadow(8px 16px 16px rgba(0, 0, 0, 0.25));
$drop-shadow-md: drop-shadow(4px 8px 8px rgba(0, 0, 0, 0.38));
$drop-shadow-sm: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
$drop-shadow-xs: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));

$drop-shadow-lg-top: drop-shadow(8px 16px 16px rgba(0, 0, 0, 0.25));
$drop-shadow-md-top: drop-shadow(4px 8px 8px rgba(0, 0, 0, 0.38));
$drop-shadow-sm-top: drop-shadow(-1.5px -1.5px 3px rgba(0, 0, 0, 0.1));

$drop-shadow-sm-bottom: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.07));

$box-shadow-sm: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 10%),
	0 2px 4px -2px rgb(0 0 0 / 10%);
